#footer {
  background: white;
  height: 60px;
  width: 100%;
  position: fixed;
  border-top: 1px solid #cccccc;
  border-top-style: double;
  bottom: 0;
  text-align: center;
}
#footer p {
  height: 60px;
  line-height: 60px;
  margin: 0;
}
