.filters {
  background-color: white;
  position: relative;
  height: 70px;
  width: 100%;
  border: 1px solid#dddddd;
  border-radius: 4px;
  padding: 1em;
  column-count: auto;
  display: flex;
  flex-direction: row;
}
.filters button {
  position: absolute;
  top: 50%;
  right: 30%;
  margin-top: -24px;
  margin-right: -25px;
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
}
.filters button:hover {
  opacity: 0.9;
}

.filters div.locations {
  height: 100%;
  width: 25%;
  position: relative;
  padding: auto;
  border-right: 1px solid #dddddd;
}
.filters div.amenities {
  height: 100%;
  width: 25%;
  position: relative;
  padding: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}
.filters div.h3 {
  font-weight: 600;
  text-align: right;
}
.filters div.h4 {
  font-weight: 400;
  font-size: 14px;
}
.filters .popover {
  display: none;
  position: absolute;
  background-color: #fafafa;
  max-width: auto;
  border: 1px solid #dddddd;
}
.locations ul {
  list-style: none;
  margin: 0 0 0 -1px;
}

.amenities ul {
  list-style: none;
  margin: 0 0 0 -1px;
  padding-top: 30px;
}

.locations:hover ul,
.popover:hover {
  visibility: visible;
  display: block;
}

.amenities:hover ul,
.popover:hover {
  visibility: visible;
  display: block;
}

.popover {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  visibility: hidden;
  display: none;
  background-color: #fafafa;
  width: calc(100% + 2px);
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: auto;
}

.popover li {
  margin: 7px 0 0 7px;
}

.locations > .popover > li:first-child > h2 {
  padding-top: 0;
}

.popover h2 {
  font-size: 16px;
  padding: 10px 0 0 0;
  margin: 0;
}
