.places {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.places h1 {
  font-size: 30px;
  text-align: center;
  display: block;
  width: 100%;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  float: left;
}
.places article h2 {
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}
